<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    
  </head>
  <body>
    <responsive-child>
    <main class="interactive"> 
    </a>
    <p class="chatter"><a class="logo" href="http://seattletimes.com">
      <img style="width:150px;margin:0 auto;text-align: center" src="assets/seattletimes.svg">
      </a></p>

        <div class="header">
        
        <h1>Who should lead Seattle?</h1>
            <p style="font-family:ff-meta-serif-web-pro, Georgia, serif;font-size:24px;text-align:center;">Meet the candidates running for City Council in 2019</p>
          </div>
         
        
          <div class="header" style="width:100%; max-width::280px;text-align:center;">

           
          <div style="width:100%;max-width:280px;display:inline-block">
            
            <p class="chatter">All seven of the Seattle City Council’s district seats are up for grabs in 2019, and four races are for open seats, with no incumbents running. Two candidates in each district advanced past August’s crowded primary election to compete in the Nov. 5 general election.</p>
            <hr style="width:30%">
            <p class="chatter"><a href="https://www.seattletimes.com/tag/2019-seattle-city-council-elections/"><strong>Click here for complete coverage of the 2019 Seattle City Council elections</strong></a></p>
            <hr style="width:30%">


            </div>
             <img src="./assets/citycouncil-map.png" style="width:100%;max-width:280px;margin-left:20px;">
            <p class="chatter"><strong>Choose your district to learn about who's running.</strong></p>
            

            <ul>
            
              <li><input type="checkbox" onClick="showHide('btn1')"> District 1 <br/><span style="font-weight:normal;">West Seattle, South Park </span></li>
              <li><input type="checkbox" onClick="showHide('btn2')"> District 2 <br/><span style="font-weight:normal;">Southeast Seattle, Georgetown</span></li>
              <li><input type="checkbox" onClick="showHide('btn3')"> District 3 <br/><span style="font-weight:normal;">Central Seattle</span></li>
              <li><input type="checkbox" onClick="showHide('btn4')"> District 4 <br/><span style="font-weight:normal;">Northeast Seattle</span></li>
              <li><input type="checkbox" onClick="showHide('btn5')"> District 5 <br/><span style="font-weight:normal;">North Seattle</span></li>
              <li><input type="checkbox" onClick="showHide('btn6')"> District 6 <br/><span style="font-weight:normal;">Northwest Seattle</span></li>
              <li><input type="checkbox" onClick="showHide('btn7')"> District 7 <br/><span style="font-weight:normal;">Pioneer Square to Magnolia</span></li>
              
            
          </ul>
          <p class="chatter" style="font-style:italic; margin-bottom:20px;">Reporting by Dan Beekman. This information was last updated on October 16, 2019</p>
          
            </div>

          
        </div>

        <div class="container" id="btn1">

      <% json.Dist1.forEach(function(item, i) { %>
      <%= t.include("_details.html", { item: item, index: i }) %>
    <% }) %>

        </div>
        <div class="container" id="btn2">

      <% json.Dist2.forEach(function(item, i) { %>
      
      <%= t.include("_details.html", { item: item, index: i }) %>
    <% }) %>

        </div>
        <div class="container" id="btn3">

      <% json.Dist3.forEach(function(item, i) { %>
      <%= t.include("_details.html", { item: item, index: i }) %>
    <% }) %>

        </div>
        <div class="container" id="btn4">

      <% json.Dist4.forEach(function(item, i) { %>
      <%= t.include("_details.html", { item: item, index: i }) %>
    <% }) %>

        </div>
        <div class="container" id="btn5">

      <% json.Dist5.forEach(function(item, i) { %>
      <%= t.include("_details.html", { item: item, index: i }) %>
    <% }) %>

        </div>
        <div class="container" id="btn6">

      <% json.Dist6.forEach(function(item, i) { %>
      <%= t.include("_details.html", { item: item, index: i }) %>
    <% }) %>

        </div>
        <div class="container" id="btn7">

      <% json.Dist7.forEach(function(item, i) { %>
      <%= t.include("_details.html", { item: item, index: i }) %>
    <% }) %>   
      
       

        </div>
        

        </div>

      
                 
     </main>
    </responsive-child>
    
    
    <script>
    function showHide(e) {
        var srcElement = document.getElementById(e);
        
        if (srcElement.style.display == 'flex') {
            srcElement.style.display = 'none';
          }
          else {
            srcElement.style.display = 'flex';

          }
          
          return false;
        }
        

        
      
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
